@import "../../styles/mixins.scss";

.cardContainer {
  @include centerFullContainer;
  @include backgroundAndShadow;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: scroll;
}
