@import "../../styles/mixins.scss";

.step {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  .jumpButton {
    color: #fff;
    padding: 0.5rem;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-out;
    @include backgroundAndShadow;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .auxiliaryLabel {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    position: fixed;
    right: 1rem;
    transform: translate(-50%);
    display: inline-block;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    @include backgroundAndShadow;
  }

  &:hover {
    .auxiliaryLabel {
      visibility: visible;
      opacity: 1;
    }
  }
}
