/* breakpoints */
$breakpoints: (
  xs: 320px,
  sm: 480px,
  smd: 600px,
  md: 720px,
  lg: 800px,
  xlg: 960px,
  xl: 1024px,
  xxl: 1280px,
);

/* gray */
$gray-1: #000000;
$gray-2: #564c4d;
$gray-3: #ffffff;
