@import "../../styles/variables.scss";

.customButton {
  &.primary {
    padding: 0 1rem;
    background: transparent;
    border-radius: 0.5rem;
    font-weight: bold;
    background: $gray-2;

    &:hover {
      color: transparent;
      transform: scale(1.1);
    }
  }
  &.icon {
    border: none;
    display: flex;
    color: $gray-1;
    background: transparent;
    padding: none !important;
    display: flex;
    justify-content: center;
    height: fit-content;
    width: fit-content;

    &:hover {
      color: inherit !important;
      transform: scale(1.1);
    }
  }
}

:global(.ant-btn) {
  padding: 0;
  border-radius: 0;
}
